{% extends 'back.html.twig' %}

{% block content %}
 <h1>la page admin</h1>
 <p>{{ app.user.id }}</p>
  <p>{{ app.user.email }}</p>
  <ul>
    {% for role in app.user.roles %}
  	<li>{{ role }}</li>
  	{% endfor %}
  </ul>
{% endblock %}
{% block breadcrump %}
    <ul class="breadcrumb">
    	<li><a href="">Tablea de bord</a></li>
    	<li>Liste des categories</li>
    </ul>
{% endblock %}